@{
    int countCartItems = 0;
    if(ViewBag.CartCounter != null)
    {
        countCartItems = ViewBag.CartCounter;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - eShop</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
    <link href="@Url.Content("~/Content/justified-nav.css")" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <meta name="description" content="This web site is developed for training purpose" />
</head>
<body>
    <div class="container">
        <div class="masthead">
            <h3 class="text-muted">E-Shop</h3>
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>Cart (<span id="cartCounter">@countCartItems</span>)</li>
            </ol>
        </div>

        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - E-Shop</p>
        </footer>
    </div>  

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>