<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
    <link href="@Url.Content("~/Content/justified-nav.css")" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div class="masthead">
            <h3 class="text-muted">E-Shop</h3>
            <nav>
                <ul class="nav nav-justified">
                    <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>Cart (5)</li>
                </ul>
            </nav>
        </div>

        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - E-Shop</p>
        </footer>
    </div>  

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>