@model ShopMVC.Models.Product
@{
    ViewBag.Title = "Product Details";
}
<div>@ViewBag.Title</div>

<div class="panel panel-default">
    <div class="panel-heading">@Model.Title</div>
    <div class="panel-body">
        <div><strong>Price:</strong> @Model.Price</div>
        <div><strong>Description:</strong> @Model.Description</div>

        <div>
            <input class="form-control" style="width: 80px;" type="text" id="qty" name="qty" value="1" />
            <button class="btn btn-primary">Add to Cart</button>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Back", "Index")
</p>
